<div class="st-confirm" id="stConfirmModal" hidden>
    <div class="st-confirm-dialog" role="dialog" aria-modal="true" aria-labelledby="stConfirmTitle">
        <div class="st-confirm-body">
            <div class="st-confirm-icon is-info" id="stConfirmIcon">
                <i class="ti ti-help-circle" id="stConfirmIconGlyph"></i>
            </div>
            <div>
                <div class="st-confirm-title" id="stConfirmTitle">Conferma operazione</div>
                <div class="st-confirm-text" id="stConfirmMessage"></div>
            </div>
        </div>
        <div class="st-confirm-footer">
            <button type="button" class="btn btn-outline-secondary" data-st-confirm-cancel>
                Annulla
            </button>
            <button type="button" class="btn btn-primary" data-st-confirm-accept>
                Conferma
            </button>
        </div>
    </div>
</div>
