<div class="{{ col|default:'col-md-6' }}">
    <div class="mb-3">
        <label class="form-label" for="{{ field.id_for_label }}">
            {{ field.label }}{% if field.field.required %}<span class="text-danger"> *</span>{% endif %}
        </label>
        {{ field }}
        {% if field.help_text %}
            <div class="form-hint">{{ field.help_text }}</div>
        {% endif %}
        {% if field.errors %}
            <div class="invalid-feedback d-block">{{ field.errors|join:", " }}</div>
        {% endif %}
    </div>
</div>
